$rojo:#CD113B;

$naranja:#FF7600;

$amarillo:#FFA900;


header{
	background-color:$naranja
};
a{color:$rojo};
h3{color:$rojo};
h1{color:$rojo};
p{color:$naranja};
footer{
	background-color:$naranja;
	margin-top:15px;

	
};
h5{color:$rojo};

